    /*Sidebar start*/
    
    .side_bar {
        height: 100%;
        width: 15%;
        background-image: linear-gradient(to bottom, #75a8ff, #fff175);
        position: fixed;
        border-radius: 8px;
        -webkit-box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.74);
    }
    
    .side_bar p {
        margin-right: auto;
        width: 100%;
        list-style: none;
        font-size: 20px;
        text-align: center;
        text-emphasis: bold;
        font-family: 'Proza Libre', sans-serif;
    }
    
    .side_bar li a {
        color: #282f3b;
    }
    
    #side_bar_header {
        font-size: 20px;
    }
    
    .side_bar_content {
        border-radius: 8px;
    }
    
    .side_bar_content a {
        color: #282f3b;
    }
    
    #side_bar_timeline {
        margin-top: 20%;
    }
    
    .HL {
        border: 0.5px solid #282f3b;
    }
    
    .logo {
        margin-left: 30%;
    }
    /**************************Main app components***********************************/
    
    .buttons {
        border-radius: 2px;
        background-color: transparent;
        width: 100%;
        border: none;
        -webkit-box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.74);
        box-shadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.74);
    }
    
    .welcome {
        display: inline-block;
        margin-top: 5%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-family: 'Proza Libre', sans-serif;
    }
    
    .icons {
        width: 100%;
    }
    
    .icons footer {
        margin-top: 5%;
        width: 47%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .mission_text {
        margin-top: 5%;
        width: 55%;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.8;
    }
    
    .main_app_header {
        margin-left: 30%;
        margin-top: 5%;
        margin-bottom: 1%;
        width: 30%;
        text-align: center;
        padding: 3%;
        border-radius: 2px;
        -webkit-box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.74);
    }
    
    .main_app_thought_header {
        margin-top: 5%;
        margin-left: 30%;
        width: 30%;
        text-align: center;
        padding: 3%;
        border-radius: 8px;
        -webkit-box-shadow: 5px 4px 10px -1px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 4px 10px -1px rgba(0, 0, 0, 0.74);
    }
    
    .main_app_thought {
        height: 400px;
        display: inline-block;
        margin: auto;
        width: 70%;
        border-radius: 8px;
        display: none;
    }
    
    .main_app_today {
        height: auto;
        margin: auto;
        width: 70%;
        display: none;
        border-radius: 8px;
        margin-bottom: 5%;
        display: inline-block;
        display: none;
    }
    
    .header_main {
        margin-top: 5%;
        padding: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        color: #282f3b;
        text-align: center;
        border-radius: 2px;
        -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.74);
    }
    
    .body_main {
        background-image: linear-gradient(to left, #75a8ff, #fff175);
    }
    /**************************Signn in conent***********************************/
    
    .sign_in {
        height: 200px;
        margin-top: 3%;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 3px;
        -webkit-box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.74);
    }
    
    .sign_in label {
        padding: 1%;
    }
    
    .sign_in input {
        padding: 1%;
    }
    
    .sign_in_text {
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 10%;
        border-radius: 1px;
    }
    
    .sign_in_button {
        border-radius: 1px;
        margin-top: 5%;
        background-color: transparent;
        width: 100%;
        height: 50px;
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    }
    
    .sign_in_pop-up {
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        border-radius: 2px;
        display: none;
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        margin-bottom: 5%;
    }
    
    .sign_in_pop-up label {
        padding: 1%;
    }
    
    .sign_in_pop-up input {
        padding: 1%;
    }
    
    .sign_in_pop-up_button {
        background-color: transparent;
        width: 100%;
        height: 50px;
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
    }
    /**************************Post content***********************************/
    
    .post_title {
        padding: 4%;
        height: 50px;
        width: 70%;
        opacity: 0.8;
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        margin-left: 30%;
        border-radius: 2px;
    }
    
    .post_title p {
        width: 79%;
        display: inline-block;
    }
    
    #sort_button {
        opacity: 0.9;
        border: none;
        background-color: transparent;
    }
    
    .post_content {
        background-attachment: fixed;
        width: 73%;
        height: auto;
        background-color: white;
        opacity: 0.8;
        border-radius: 2px;
        -webkit-box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px -2px rgba(0, 0, 0, 0.74);
        margin-left: 27%;
        margin-bottom: 5%;
    }
    
    .post_content li {
        padding: 3%;
        list-style: none;
        width: 32%;
        display: inline-block;
        text-align: center;
    }
    
    #list_update {
        padding: 3%;
        list-style: none;
        width: 32%;
        display: inline-block;
        text-align: center;
    }
    
    #post_button {
        opacity: 0.9;
        width: 100%;
        border: none;
        border-radius: 8px;
        background-color: transparent;
    }
    
    .add_post {
        display: inline-block;
        width: 10%;
    }
    
    .add_postt {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
    
    .add_post_content {
        margin-left: auto;
        width: 100%;
        background-color: white;
        border-radius: 8px;
        display: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    #add_post_content_button {
        width: 95%;
        border-radius: 2px;
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 2%;
        background-color: rgb(220, 220, 220);
        -webkit-box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.74);
        box-shadow: 5px 5px 15px -4px rgba(0, 0, 0, 0.74);
    }
    
    .dlt_button {
        border: none;
        border-radius: 8px;
        background-color: transparent;
    }
    /**************************Media query start***********************************/
    
    @media only screen and (max-width: 600px) {
        h1 {
            width: 90%;
        }
        .subheader_main {
            width: 70%;
        }
        .sign_in {
            width: 70%;
        }
        .sign_in_pop-up {
            width: 70%;
        }
        .side_bar {
            display: none;
        }
        .main_app_today {
            display: inline-block;
        }
        .main_app_today {
            width: 70%;
            height: 100px;
        }
        .main_app_header {
            width: 70%;
        }
        .main_app_thought_header {
            width: 70;
        }
        .main_app_thought {
            display: none;
        }
    }